<li class="list-group-item">
  <div class="row">
    <div class="col-lg-5">
      <%= link_to article.title, article, class: 'login' %>
    </div>
    <div class="col-lg-3">
      <%= link_to article.category.title, article.category %>
    </div>
  </div>
</li>