<% if @user.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li class="danger"><%= msg %></li>
        <% end %>
      </ul>
  </div>
<% end %>