<%= render 'layouts/sidebar' %>

<div class="col-md-9">
  <h1 class="page_title">Категории</h1>
  <div class="users">
    <ul class="list-group">
      <%= render @categories %>
    </ul>
  </div>
</div>