<div class="col-md-3">
  <div class="sidebar-nav sidebar-fixed-left category_sidebar">
    <ul class="nav">
      <li class="nav-header">
        <i class="fa fa-bars" aria-hidden="true"></i>Категории
      </li>
      <li class="nav-category"><a href="#">Русский язык, 7 класс</a></li>
      <li class="nav-category"><a href="#">Русский язык, 10 класс</a></li>
      <li class="nav-category"><a href="#">Названия</a></li>
      <li class="nav-category"><a href="#">Названия</a></li>
    </ul>
  </div>
</div>