<header>
  <div class="row">
    <%= render 'layouts/signed_in_links' %>
  </div>
  <div class="row title-blog">
    <div class="text-center">
      <%= link_to 'TeacherBlog', root_path, class: 'title' %>
    </div>
  </div>
</header>